@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

html{
    font-size: 62.5%; 
    scroll-behavior: smooth;
}
body{
    font: 1.6rem sans-serif;
    margin: 0;  
}
h1,h2,h3,h4,p,ol,ul,figure,dd{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1,h2,h3,h4{
    font-weight: normal;
}
a{
    text-decoration: none;
}
/*Theme*/

body{
    background:url(https://cdn.radiofrance.fr/s3/cruiser-production/2019/05/1de40013-99c6-4280-b82a-dbf5a9c0b55d/838_gettyimages-941329600.jpg) no-repeat fixed center/cover ;
}
main section{
    border-style:solid;
    border-radius: 2rem;
    border-color:#e9967a;
    margin-bottom:5rem;
    margin-left:20%;
    margin-right:20%;
    background-color:rgb(27, 167, 192,0.40);  
    margin-top:1rem;  
}
header h1{
 
    color:blueviolet;
    text-align: center;
    font-weight: bolder;
    font-size: 6rem;
    margin-bottom:1rem;
    border:solid;
    border-color:grey;
    background:url(https://www.oui.sncf/assets/styles/ratio_2_1_max_width_961/public/media/2020-11/seinedanslesyvelines-istock-marcelloland.jpg?h=8d8fd87c&itok=Ew0qF8_i )no-repeat top/cover;
    margin-bottom:5rem;
}
main nav{
    margin-bottom:20px;
    font-size:2rem;
    border:solid grey;
    position:fixed;
    word-spacing:2rem;
    border-color:#e9967a;
    margin-left: 1rem;
    border-radius:1rem;
    background-color:rgb(27, 167, 192,0.40); 
    box-shadow: 2px 2px 2px #e9967a;
}
main nav a{
    display: inline-block;
    vertical-align: middle;
    margin: 0.5rem;
    
}
main nav a:hover{
    color: #fff;
}
section h2{
    margin-top:2rem;
    margin-bottom:2rem;
    font-family: cabin;
    color:white;
    text-align:center;
    font-size:4rem;
}
footer p{
    color:red;
}
.premier{
    text-align: center;
    margin:1rem;
}
section div img{
    height: 5rem;
    width: 5rem;
    margin-left:2rem;
    margin-right:2rem;
    margin-bottom:2rem;
}
section ul li{
    color:blueviolet;
    text-align:center;
    list-style-type:none;
    font-size:3rem;
    margin-bottom:2rem;
}
footer p{
    text-align:center;
    font-size:2rem;
}
.photo{
    text-align:center;
}
.contact h2{
    font-size: 4rem;
    margin-left:0;
    font-family:cabin;
    text-align:center;
    margin-bottom:0.5rem;

}
.contact ul li{
    font-size:1.5rem;
    margin-left: 1rem;
    text-align:center;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color:blueviolet;
}
.contact{
    position:fixed;
    border:solid;
    border-radius:1rem;
    border-color: #e9967a;
    margin-left:1rem;
    background-color:rgb(27, 167, 192,0.40);
    box-shadow: 2px 2px 2px #e9967a;
    
}

