@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

html{
    font-size: 62.5%; 
}
body{
    margin: 0;  
}
h1,h2,h3,h4,p,ol,ul,figure,dd{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1,h2,h3,h4{
    font-weight: normal;
}
/*Theme*/

body{
    background:url(https://cdn.radiofrance.fr/s3/cruiser-production/2019/05/1de40013-99c6-4280-b82a-dbf5a9c0b55d/838_gettyimages-941329600.jpg) no-repeat fixed center/cover ;
}
main section{
    border-style:solid;
    border-radius: 2rem;
    border-color:#e9967a;
    margin-bottom:3rem;
    margin-left:20%;
    margin-right:20%;
    background-color:rgb(27, 167, 192,0.40);  
    margin-top:1rem;  
}
header h1{
    font-family: cabin;
    color:rgb(255, 0, 0);
    text-align: center;
    font-weight: bolder;
    font-size: 8rem;
    margin-bottom:1rem;
}
main nav{
    text-align:center;
    margin-bottom:20px;
    border: solid #e9967a ;
    background-color:none;
    border-radius:2rem;
    margin-left:30%;
    margin-right:30%;
    font-size:2rem;
    font-family: Orelega One;
    word-spacing:2rem;
}
section h2{
    margin-top:2rem;
    margin-bottom:2rem;
    font-family: cabin;
    color:#000000;
    text-align:center;
    font-size:4rem;
}
footer p{
    color:red;
}
.premier{
    text-align: center;
    margin:1rem;
}
section div img{
    height: 5rem;
    width: 5rem;
    margin-left:2rem;
    margin-right:2rem;
    margin-bottom:2rem;
}
section ul li{
    color:blueviolet;
    text-align:center;
    list-style-type:none;
    font-size:3rem;
    margin-bottom:2rem;
}
footer p{
    text-align:center;
    font-size:2rem;
}
.photo{
    text-align:center;
}
.contact h2{
    font-size: 4rem;
    margin-left:0;
    font-family:cabin;
    text-align:center;
    margin-bottom:0.5rem;

}
.contact ul li{
    font-size:1.5rem;
    margin-left: 1rem;
    text-align:center;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color:black;
}
.contact{
    position:fixed;
    border:solid;
    border-radius:1rem;
    border-color: #e9967a;
    margin-left:1rem;
    background-color:rgb(27, 167, 192,0.40);
}